@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;500;600;700&display=swap');

body {
    font-family: 'Pixelify Sans', sans-serif;
    background-color: #383636;
    margin: 0;
}

.App {
    display: flex;
    align-content: center;
    justify-content: center;

    font-family: 'Pixelify Sans', sans-serif;
    font-weight: bold;
    
    background-color: #383636;
    overflow: hidden;
    min-height: 100vh;
}

button, input, textarea, select {
    font-family: inherit;
}